.container {
  position: relative;
  text-align: center;
  }
.box{

}

  .butto_FillAll{
    background-color: #abb4b8;

    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .lft_butt{

    position: relative;

  }
  .lft_butt :hover{
    background-color: #c8d1d8;
  }

  .righ{
    position: relative;

  }
  .inp_load {
    position: relative;

  }

  .inp_load_butt{


  }
  .butto_load{
    position: relative;
    
    background-color: #abb4b8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.inp_load_butt :hover{
  background-color: #c8d1d8;
}