.container {
  position: relative;
  text-align: center;
  }
.box{

}

  .butto {
    background-color: #abb4b8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .lft_butt{
    position: relative;
    top:30px;
  }
  .lft_butt :hover{
    background-color: #c8d1d8;
  }

  .righ{
    position: relative;
    top:15px;
  }