p {
    text-align:center;



    font-family: Verdana;
    font-size: 0px;
    font-weight: normal;
    padding-left: 0px;
    padding-right: 0px;
  }
body.disable-dbl-tap-zoom {
  touch-action: manipulation;
}